### Setup & Load Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Path to raw dataset
DATA_PATH = "../Datasets/Raw_Dataset/Internship Casestudy.xlsx"

df = pd.read_excel(DATA_PATH)

print("✅ Excel Dataset Loaded")
df.head()

✅ Excel Dataset Loaded

,Week,Address,Number of delivered orders,Basket size,Bad rated orders due to wrong or Missing Products,Bad rated orders due to store packaging Issues,Bad rated orders due to store allergy not considered,Bad rated orders due to to Poor Quality,Cancelled Orders Due to Customer Absent,Cancelled Orders due to Partner Printer/internet issue,Cancelled Orders Due to Partner Products Not Available,Cancelled Orders Due to Partner Store Closed,Cancelled Orders Due to Store Cant Deliver,Refunds to customer
0,2025-01-04,"Av. de Monforte de Lemos, 12, Madrid, Spain",104,21.65,1,0,0,1,0,0,0,0,0,3.2475
1,2025-02-01,"Av. de Monforte de Lemos, 12, Madrid, Spain",124,20.95,1,0,0,0,0,0,0,0,0,3.1425
2,2025-02-08,"Av. de Monforte de Lemos, 12, Madrid, Spain",71,22.94,1,0,0,0,0,0,0,0,0,11.4700
3,2025-02-15,"Av. de Monforte de Lemos, 12, Madrid, Spain",76,21.11,1,0,0,0,0,0,0,0,0,3.1665
4,2025-03-08,"Av. de Monforte de Lemos, 12, Madrid, Spain",87,22.43,1,0,0,1,0,0,0,0,0,6.7290

### Dataset Shape & Column Overview

In [2]:
print("Shape:", df.shape)

Shape: (500, 14)

Columns:
['Week', 'Address', 'Number of delivered orders', 'Basket size', 'Bad rated orders due to wrong or Missing Products', 'Bad rated orders due to store packaging Issues', 'Bad rated orders due to store allergy not considered', 'Bad rated orders due to to  Poor Quality', 'Cancelled Orders Due to Customer Absent', 'Cancelled Orders due to Partner Printer/internet issue', 'Cancelled Orders Due to Partner Products Not Available', 'Cancelled Orders Due to Partner Store Closed', 'Cancelled Orders Due to Store Cant Deliver', 'Refunds to customer']

### Data Types Check

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Week                                                    500 non-null    datetime64[ns]
 1   Address                                                 500 non-null    object
 2   Number of delivered orders                              500 non-null    int64
 3   Basket size                                             498 non-null    float64
 4   Bad rated orders due to wrong or Missing Products       500 non-null    int64
 5   Bad rated orders due to store packaging Issues          500 non-null    int64
 6   Bad rated orders due to store allergy not considered    500 non-null    int64
 7   Bad rated orders due to to  Poor Quality                500 non-null    int64
 8   Cancelled Orders Due to Customer Absent                 500 non-null    int64
 9   Cancelled Orders due to Partner Printer/internet issue  500 non-null    int64
 10  Cancelled Orders Due to Partner Products Not Available  500 non-null    int64
 11  Cancelled Orders Due to Partner Store Closed            500 non-null    int64
 12  Cancelled Orders Due to Store Cant Deliver              500 non-null    int64
 13  Refunds to customer                                     395 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(10), object(1)
memory usage: 54.8+ KB

In [4]:
df.isna().sum()

Week                                                        0
Address                                                     0
Number of delivered orders                                  0
Basket size                                                 2
Bad rated orders due to wrong or Missing Products           0
Bad rated orders due to store packaging Issues              0
Bad rated orders due to store allergy not considered        0
Bad rated orders due to to  Poor Quality                    0
Cancelled Orders Due to Customer Absent                     0
Cancelled Orders due to Partner Printer/internet issue      0
Cancelled Orders Due to Partner Products Not Available      0
Cancelled Orders Due to Partner Store Closed                0
Cancelled Orders Due to Store Cant Deliver                  0
Refunds to customer                                       105
dtype: int64

In [5]:
df.describe()

,Week,Number of delivered orders,Basket size,Bad rated orders due to wrong or Missing Products,Bad rated orders due to store packaging Issues,Bad rated orders due to store allergy not considered,Bad rated orders due to to Poor Quality,Cancelled Orders Due to Customer Absent,Cancelled Orders due to Partner Printer/internet issue,Cancelled Orders Due to Partner Products Not Available,Cancelled Orders Due to Partner Store Closed,Cancelled Orders Due to Store Cant Deliver,Refunds to customer
count,500,500.000000,498.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,395.000000
mean,2025-01-13 01:03:21.600000,70.568000,19.880482,2.788000,0.082000,0.066000,0.346000,0.094000,0.064000,0.066000,0.118000,0.052000,23.498685
min,2020-12-28 00:00:00,0.000000,12.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.368500
25%,2025-02-01 00:00:00,36.000000,17.815000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.883250
50%,2025-03-15 00:00:00,60.000000,19.485000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.196000
75%,2025-04-26 00:00:00,102.000000,21.372500,4.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.778000
max,2025-05-31 00:00:00,242.000000,30.860000,30.000000,2.000000,2.000000,4.000000,2.000000,6.000000,10.000000,4.000000,4.000000,465.600000
std,NaN,44.355792,2.955741,3.325232,0.295721,0.278926,0.662693,0.305533,0.460791,0.605291,0.514398,0.292347,34.653650